*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul,ol,li{
    list-style: none;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: black
}

header{
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img{
    height: 80px;
    width: 250px;
 
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 28px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}


.botaomenu button{
    color: black;
    background-color: #7bff08;
    height: 80px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    display: flex;
    width: 2300px;
    height: 600px;
}

.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h1{
    font-size: 80px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
}

.conteudo p {
    font-size: 48px;
    width: 90%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
}

.conteudo button{
    height: 100px;
    width: 300px;
    background-color: #7bff08;
    color: black;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 70px;
}


.conteudo{
    width: 1400px;
    height: 600px;
}

.destaque img{
    height: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.vantagens{
    width:100% ;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    gap: 20px;

}


.social{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.social div{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

 .social .primeiro{
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
}

.social .segundo{
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
}


.vantagens .terceiro img{
    height: 60px;
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.vantagens .quarto img{
    height: 60px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}



.vantagens .primeiro{
    color: white;
    height: 200px;
    width: 200px;
}

.vantagens .segundo{
    color: white;
    height: 200px;
    width: 200px;
}

.vantagens .terceiro{
    color: white;
    height: 200px;
    width: 200px;
}

.vantagens .quarto{
    color: white;
    height: 200px;
    width: 200px;
}

.destaque{
    width: 50%;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.baixo {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5B5656 ;
    text-align: center;
}

.cima {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 110px;
}

.paralelogramo{
    width: 170px;
    height: 50px;
    background-color: #7bff08;
    transform: skewX(-20deg);
    margin-top: 50px;
    margin-left: 10px;
}

